<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/java.js" type="module"></script>
  <title>About</title>
</head>
<header>
  <button class="menu-btn open" id="open-menu"  aria-label="Open Menu">
    <span class="menu-icon">
        <span class="bars"></span>
        <span class="bars"></span>
        <span class="bars"></span>
    </span>
</button>
<nav id="nav-menu">
    <button class="menu-btn close" id="close-menu">
        <span>X</span>
    </button>
    
    <ul>
        
        <li><a href="/"> COURSES</a></li>
        <li><a href="/add"> ADD COURSE</a></li>
        <li><a href="/about"> ABOUT </a></li>
    </ul>
</nav>
</header>

    <div class="container">
        <h1>About the Task</h1>
        <p>In this assignment, I have created a web application for course management, using sqlite, Visual Studio Code (VSC) and Render for publishing. To manage the database, I used sqlite3 database.</p>
        <p>The site offers easy functionality to add and remove courses from both the site and the linked database. Each course stored contains important information such as course code, course name, progression and syllabus.</p>
        <p>By running the website on Render, a cloud platform for hosting web applications, I ensure that it is always available and ready to use.</p>
        <p>Carrying out this task was a rewarding experience. Combining tools like sqlite3 and Visual Studio Code allowed me to efficiently develop and publish my web application. I look forward to continuing to explore and learn more about web development through similar projects in the future</p>
      </div>

</body>
</html>
